body{
    width: 55%;
    margin: 2rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------ General Styling ------ */
.title-date{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title-date h3{
    margin:0;
}

a{
    text-decoration: none;
}

h1{
    margin-bottom: 0;
}

img{
    max-width: 15%;
    margin-bottom: 0;
}

h2{
    margin-bottom: 0;
}

ul{
    margin-top: 0;
}
