/* ------ Colors ------ */
:root{
    --background-color: #EDEDCE;
    --background-color-2: #296374;
}

body{
    background-color: var(--background-color);
    width: 55%;
    margin: 0 auto 2rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------ General Styling ------ */
.title-date{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}

main{
    padding:0 1rem;
}

.title-date h3{
    margin:0;
}

a{
    color:white;
    text-decoration: none;
}

h1{
    margin-bottom: 0;
}

img{
    max-width: 15%;
    min-width: 130px;
    margin-bottom: 0;
}

h2{
    margin-bottom: 0;
}

ul{
    margin-top: 0;
}

a:hover{
    color:var(--background-color);
}

/* ------ Section Styling ------ */
.my-info{
    width:100%;
    padding:0 1rem 1rem 1rem;
    color: white;
    background-color: var(--background-color-2);
    border-radius: 0 0 .75rem .75rem;
}

.technical-skills{
    list-style-type: "// ";
}


/* ------ Responsive Windows ------ */
@media (max-width:750px){
    body{
        width: 85%;
        font-size: 75%;
    }
}
